@charset "utf-8";
@font-face{
font-family: inter1;
src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face{
font-family: inter2;
src: url(/fonts/OFL.txt);
}
@font-face{
font-family: inter3;
src: url(/fonts/static/Inter-Bold.ttf);
}
@font-face{
font-family: inter4;
src: url(/fonts/static/Inter-Regular.ttf);
}
@font-face{
font-family: inter5;
src: url(/fonts/static/Inter-SemiBold.ttf);
font-family: inter;
src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face{
font-family: inter2;
src: url(./fonts/OFL.txt);
}
@font-face{
font-family: inter3;
src: url(./fonts/static/Inter-Bold.ttf);
}
@font-face{
font-family: inter4;
src: url(./fonts/static/Inter-Regular.ttf);
}
@font-face{
font-family: inter5;
src: url(./fonts/static/Inter-SemiBold.ttf);
}
*{
    margin: 0;
}
:root{
    --Off-Black: hsl(0, 0%, 8%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
}
.container{
    background-color:var(--Off-Black);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
background-color:var(--Dark-Grey);
display: flex;
flex-direction: column;
align-items: center;
padding: 5%;
padding-left: 9%;
padding-right: 9%;
border-radius: 9px;
padding-top: 7%;
font-family: inter3;
}
img{
    border-radius: 100%;
    width: 39%;
    height: 39%;
}
h1{
    color: var(--White);
    padding-top: 15px;
    font-family: inter4;
    font-size: 25px;
}
a{
    color: var(--White);
    text-decoration: none;
}
p{
    font-size: 14px;
}
.p1{
    color: var(--Green);
    padding-top: 12px;
    font-weight:800;
}
.p2{
color: var(--White);
padding-top: 15px;
font-family: inter3;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.block a{
    color: var(--White);
background-color: var(--Grey);
width: 100%;
margin-bottom:14px;
border-radius: 7px;
padding: 12px;
font-weight: 700;
text-decoration:none;
font-family: inter3;
font-size: 14px;
}
.block a:hover{
    background-color: var(--Green);
    color: var(--Off-Black);
}
@media only screen and (min-width:992px) {
    .middle{
        padding: 4%;
        width: 23%;
        height: fit-content;
        padding-top: 2%;

    }
    img{
        width: 30%;
        height: 30%;
    }
    .block{
        margin-top: 15px;
    }
}
